.jobSeekersSection {
  position: relative;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    padding: 0 10rem;
  }

  .btnBlack {
    align-self: center;
  }

  .circle {
    position: absolute;
    width: 39rem;
    height: 39rem;
    background-color: hsla(44, 91%, 71%, 0.7);
    border-radius: 50%;
    filter: blur(75px);
    z-index: -1;
  }

  .leftCircle {
    left: -70px;
    transform: translate(50%, -25%);
  }

  .rightCircle {
    right: -70px;
    transform: translate(-50%, 50%);
  }
  .searchBarContainer {
    display: flex;
    align-items: center;

    .searchBar {
      z-index: 2;
    }

    img {
      z-index: 3;
      height: 1.2rem;
      width: 1.2rem;
      margin-left: -0.5rem;
    }
  }
}
